body{
    padding: 20px;
    overflow-x: hidden;
 }
 .principal{
     width: 90% ;
     height: auto;
     padding: 20px;
     text-align: center;
 }
 
 .font-style{
    border-bottom: 2px solid lightgray;
     font-size: 3rem;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding-bottom: 15px;

 }
 .font-style02{
    color:darkgray 
    font-size: 1rem;

 }

 .div-calculos{
    background-color: lightcyan;
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

 }
    